In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\galic156685\Downloads\housing_prices.csv')

In [4]:
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [7]:
df=df.convert_dtypes()

In [8]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [11]:
df.Id.nunique()==df.shape[0]

True

In [12]:
df.drop('Id',axis=1,inplace=True)

In [14]:
missing=df.isna().sum()
missing[missing>0]

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [15]:
df.MiscFeature.unique()

<StringArray>
[<NA>, 'Shed', 'Gar2', 'Othr', 'TenC']
Length: 5, dtype: string

In [16]:
df.MiscFeature.value_counts()

Shed    49
Gar2     2
Othr     2
TenC     1
Name: MiscFeature, dtype: Int64

In [17]:
dummies_list_NA=['MiscFeature']

In [18]:
df.Fence.unique()

<StringArray>
[<NA>, 'MnPrv', 'GdWo', 'GdPrv', 'MnWw']
Length: 5, dtype: string

In [19]:
df.Fence.value_counts()

MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: Int64

In [22]:
df[['Fence','SalePrice']].groupby('Fence').agg('mean')

           SalePrice
Fence
GdPrv  178927.457627
GdWo   140379.314815
MnPrv  148751.089172
MnWw   134286.363636

In [23]:
df.PoolQC.unique()

<StringArray>
[<NA>, 'Ex', 'Fa', 'Gd']
Length: 4, dtype: string

In [25]:
dct={'Ex':5,'Fa':2,'Gd':4}
df.PoolQC=df.PoolQC.map(dct)
df.PoolQC.fillna(0,inplace=True)

In [26]:
df.PoolQC.value_counts()

0.0    1457
2.0       2
3.0       1
Name: PoolQC, dtype: int64

In [27]:
dct={'Ex':5,'Fa':2,'Gd':4,'TA':3,'Po':1}
df.GarageQual=df.GarageQual.map(dct)
df.GarageQual.fillna(0,inplace=True)

In [28]:
dct={'Ex':5,'Fa':2,'Gd':4,'TA':3,'Po':1}
df.GarageCond=df.GarageCond.map(dct)
df.GarageCond.fillna(0,inplace=True)

In [29]:
dct={'Rfn':2,'Fin':3,'Unf':1}
df.GarageFinish=df.GarageFinish.map(dct)
df.GarageFinish.fillna(0,inplace=True)

In [31]:
df.drop('GarageYrBlt',axis=1)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65,8450,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,0,0.0,<NA>,<NA>,0,2,2008,WD,Normal,208500
1,20,RL,80,9600,Pave,<NA>,Reg,Lvl,AllPub,FR2,...,0,0.0,<NA>,<NA>,0,5,2007,WD,Normal,181500
2,60,RL,68,11250,Pave,<NA>,IR1,Lvl,AllPub,Inside,...,0,2.0,<NA>,<NA>,0,9,2008,WD,Normal,223500
3,70,RL,60,9550,Pave,<NA>,IR1,Lvl,AllPub,Corner,...,0,0.0,<NA>,<NA>,0,2,2006,WD,Abnorml,140000
4,60,RL,84,14260,Pave,<NA>,IR1,Lvl,AllPub,FR2,...,0,3.0,<NA>,<NA>,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62,7917,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,0,0.0,<NA>,<NA>,0,8,2007,WD,Normal,175000
1456,20,RL,85,13175,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,0,0.0,MnPrv,<NA>,0,2,2010,WD,Normal,210000
1457,70,RL,66,9042,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,0,0.0,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68,9717,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,0,0.0,<NA>,<NA>,0,4,2010,WD,Normal,142125
1459,20,RL,75,9937,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,0,0.0,<NA>,<NA>,0,6,2008,WD,Normal,147500

In [32]:
df.GarageType.value_counts()

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: Int64

In [33]:
dummies_list_NA.append('GarageType')

In [34]:
df.FireplaceQu.value_counts()

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: Int64

In [35]:
dct={'Ex':5,'Fa':2,'Gd':4,'TA':3,'Po':1}
df.FireplaceQu=df.FireplaceQu.map(dct)
df.FireplaceQu.fillna(0,inplace=True)

In [36]:
df.Electrical.value_counts()

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: Int64

In [38]:
df[df. Electrical.isna()].YearBuilt

1379    2006
Name: YearBuilt, dtype: Int64

In [39]:
df.query('2004<YearBuilt<2018').Electrical

ValueError: unknown type object

In [ ]:
df.loc[df.Electrical.isna]

In [ ]:
dummises_list=['Electrical']

In [42]:
pd.concat([df,df[['BsmtFinType1','BsmtFinType2']].stack().str.get_dummies().sum(level=0)],axis=1)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,YrSold,SaleType,SaleCondition,SalePrice,ALQ,BLQ,GLQ,LwQ,Rec,Unf
0,60,RL,65,8450,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,2008,WD,Normal,208500,0.0,0.0,1.0,0.0,0.0,1.0
1,20,RL,80,9600,Pave,<NA>,Reg,Lvl,AllPub,FR2,...,2007,WD,Normal,181500,1.0,0.0,0.0,0.0,0.0,1.0
2,60,RL,68,11250,Pave,<NA>,IR1,Lvl,AllPub,Inside,...,2008,WD,Normal,223500,0.0,0.0,1.0,0.0,0.0,1.0
3,70,RL,60,9550,Pave,<NA>,IR1,Lvl,AllPub,Corner,...,2006,WD,Abnorml,140000,1.0,0.0,0.0,0.0,0.0,1.0
4,60,RL,84,14260,Pave,<NA>,IR1,Lvl,AllPub,FR2,...,2008,WD,Normal,250000,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62,7917,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,2007,WD,Normal,175000,0.0,0.0,0.0,0.0,0.0,2.0
1456,20,RL,85,13175,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,2010,WD,Normal,210000,1.0,0.0,0.0,0.0,1.0,0.0
1457,70,RL,66,9042,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,2010,WD,Normal,266500,0.0,0.0,1.0,0.0,0.0,1.0
1458,20,RL,68,9717,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,2010,WD,Normal,142125,0.0,0.0,1.0,0.0,1.0,0.0
1459,20,RL,75,9937,Pave,<NA>,Reg,Lvl,AllPub,Inside,...,2008,WD,Normal,147500,0.0,1.0,0.0,1.0,0.0,0.0