In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('Téléchargements\annimals')

FileNotFoundError: [Errno 2] File b'T\xc3\xa9l\xc3\xa9chargements\x07nnimals' does not exist: b'T\xc3\xa9l\xc3\xa9chargements\x07nnimals'

In [4]:
text="""brainwt,bodywt,animal
3.385,44.5,Arctic_fox
0.48,15.499,Owl_monkey
1.35,8.1,Beaver
464.983,423.012,Cow
36.328,119.498,Gray_wolf
27.66,114.996,Goat
14.831,98.199,Roe_deer
1.04,5.5,Guinea_pig
4.19,57.998,Vervet
0.425,6.4,Chinchilla
0.101,4,Ground_squirrel
0.92,5.7,Arctic
1,6.6,African_giant_pouched_rat
0.005,0.14,Lesser_short-tailed-shrew
0.06,1,Star-nosed_mole
3.5,10.8,Nine-banded_armadillo
2,12.3,Tree_hyrax
1.7,6.3,N._American
2547.07,4603.17,Asian_elephant
0.023,0.3,Big_brown_bat
187.092,419.012,Donkey
521.026,654.977,Horse
0.785,3.5,European_hedgehog
10,114.996,Patas_monkey
3.3,25.6,Cat
0.2,5,Galago
1.41,17.5,Genet
529.006,680.005,Giraffe
206.996,406.019,Gorilla
85.004,324.992,Gray_seal
0.75,12.3,Rock_hyrax1
61.998,1320.02,Human
6654.18,5711.86,African_elephant
3.5,3.9,Water_opossum
6.8,179.003,Rhesus_monkey
34.998,56.003,Kangaroo
4.05,17,Yellow-bellied_marmot
0.12,1,Golden_hamster
0.023,0.4,Mouse
0.01,0.25,Little_brown_bat
1.4,12.5,Slow_loris
250.01,489.997,Okapi
2.5,12.1,Rabbit
55.501,175.002,Sheep
100.003,156.993,Jaguar
52.159,440.011,Chimpanzee
10.55,179.504,Baboon
0.55,2.4,Desert_hedgehog
59.997,80.996,Giant_armadillo
3.6,21,Rock_hyrax2
4.288,39.201,Raccoon
0.28,1.9,Rat
0.075,1.2,E._American_mole
0.122,3,Mole_rat
0.048,0.33,Musk_shrew
192.001,180.008,Pig
3,25.001,Echidna
160.004,169,Brazilian_tapir
0.9,2.6,Tenrec
1.62,11.4,Phalanger
0.104,2.5,Tree_shrew
4.235,50.4,Red_fox"""

In [6]:
ll=[i.split(',')for i in text.split('\n')]

In [7]:
df=pd.DataFrame(ll[1:], columns=ll[0])

In [8]:
df.head()

   brainwt   bodywt      animal
0    3.385     44.5  Arctic_fox
1     0.48   15.499  Owl_monkey
2     1.35      8.1      Beaver
3  464.983  423.012         Cow
4   36.328  119.498   Gray_wolf

In [9]:
df.tail()

    brainwt bodywt           animal
57  160.004    169  Brazilian_tapir
58      0.9    2.6           Tenrec
59     1.62   11.4        Phalanger
60    0.104    2.5       Tree_shrew
61    4.235   50.4          Red_fox

In [10]:
df.tail(10)

    brainwt   bodywt            animal
52    0.075      1.2  E._American_mole
53    0.122        3          Mole_rat
54    0.048     0.33        Musk_shrew
55  192.001  180.008               Pig
56        3   25.001           Echidna
57  160.004      169   Brazilian_tapir
58      0.9      2.6            Tenrec
59     1.62     11.4         Phalanger
60    0.104      2.5        Tree_shrew
61    4.235     50.4           Red_fox

In [11]:
#10 ligne au hasard
df.sample(10)

    brainwt   bodywt                 animal
9     0.425      6.4             Chinchilla
48   59.997   80.996        Giant_armadillo
38    0.023      0.4                  Mouse
28  206.996  406.019                Gorilla
53    0.122        3               Mole_rat
11     0.92      5.7                 Arctic
15      3.5     10.8  Nine-banded_armadillo
6    14.831   98.199               Roe_deer
29   85.004  324.992              Gray_seal
23       10  114.996           Patas_monkey

In [16]:
df.max()

brainwt                   85.004
bodywt                    98.199
animal     Yellow-bellied_marmot
dtype: object

In [20]:
df.dtypes

brainwt    object
bodywt     object
animal     object
dtype: object

In [22]:
df.brainwt=df.brainwt.astype(float)

In [23]:
df.dtypes

brainwt    float64
bodywt      object
animal      object
dtype: object

In [24]:
df.bodywt=df.bodywt.astype(float)

In [25]:
df.dtypes

brainwt    float64
bodywt     float64
animal      object
dtype: object

In [26]:
pd.__version__

'0.25.1'

In [27]:
df.max()

brainwt                  6654.18
bodywt                   5711.86
animal     Yellow-bellied_marmot
dtype: object

In [29]:
df.median()

brainwt     3.3425
bodywt     17.2500
dtype: float64

In [30]:
df.mean()

brainwt    198.794290
bodywt     283.135355
dtype: float64

In [33]:
df.max(axis=1)

0      44.500
1      15.499
2       8.100
3     464.983
4     119.498
       ...
57    169.000
58      2.600
59     11.400
60      2.500
61     50.400
Length: 62, dtype: float64

In [37]:
df.loc[df.bodywt.idxmax()]

brainwt             6654.18
bodywt              5711.86
animal     African_elephant
Name: 32, dtype: object

In [38]:
df.loc[df.bodywt.idxmin()]

brainwt                        0.005
bodywt                          0.14
animal     Lesser_short-tailed-shrew
Name: 13, dtype: object

In [39]:
#creat a new column in my table
df['bodywtkg']=df.bodywt*0,453592

ValueError: Length of values does not match length of index

In [41]:
df.head()

   brainwt   bodywt      animal
0    3.385   44.500  Arctic_fox
1    0.480   15.499  Owl_monkey
2    1.350    8.100      Beaver
3  464.983  423.012         Cow
4   36.328  119.498   Gray_wolf

In [43]:
df['wtratio']=df.bodywt/df.brainwt
df.head()

   brainwt   bodywt      animal    wtratio
0    3.385   44.500  Arctic_fox  13.146233
1    0.480   15.499  Owl_monkey  32.289583
2    1.350    8.100      Beaver   6.000000
3  464.983  423.012         Cow   0.909736
4   36.328  119.498   Gray_wolf   3.289419

In [44]:
df.loc[df.wtratio.idxmax()]

brainwt              0.101
bodywt                   4
animal     Ground_squirrel
wtratio             39.604
Name: 10, dtype: object

In [45]:
df.loc[df.wtratio.idxmin()]

brainwt             6654.18
bodywt              5711.86
animal     African_elephant
wtratio            0.858387
Name: 32, dtype: object

In [46]:
df.isna()

    brainwt  bodywt  animal  wtratio
0     False   False   False    False
1     False   False   False    False
2     False   False   False    False
3     False   False   False    False
4     False   False   False    False
..      ...     ...     ...      ...
57    False   False   False    False
58    False   False   False    False
59    False   False   False    False
60    False   False   False    False
61    False   False   False    False

[62 rows x 4 columns]

In [47]:
#compter le nombre de valeur manquante
df.isna().sum()

brainwt    0
bodywt     0
animal     0
wtratio    0
dtype: int64

In [50]:
df.animal.str.contains('fox')

0      True
1     False
2     False
3     False
4     False
      ...
57    False
58    False
59    False
60    False
61     True
Name: animal, Length: 62, dtype: bool

In [51]:
df.animal.str.contains('fox').sum()

2

In [53]:
df[df.animal.str.contains('fox')]

    brainwt  bodywt      animal    wtratio
0     3.385    44.5  Arctic_fox  13.146233
61    4.235    50.4     Red_fox  11.900826

In [ ]:
#rename a column
df1=df.rename(columns={'XX':'XXX'})

In [54]:
df.columns

Index(['brainwt', 'bodywt', 'animal', 'wtratio'], dtype='object')

In [55]:
df.index

RangeIndex(start=0, stop=62, step=1)

In [58]:
#renvoi la dernière valeur
[1,2,3,4].pop()

4

In [65]:
#21 permier rwo - animal qui contient un o et dont le poid du cerveau est > 1 et le max
df.iloc[21:].loc[df.animal.str.contains('o')].loc[df.brainwt>1].max()

brainwt                  521.026
bodywt                   654.977
animal     Yellow-bellied_marmot
wtratio                   26.324
dtype: object

In [ ]:
for i in df:
    df[f'{i}1']=df[i]*2

In [68]:
dg=df.['animal','brainwt','bodywt']

SyntaxError: invalid syntax (<ipython-input-68-8b903eb520cd>, line 1)

In [75]:
filterr=(df.animal.str.contains('o'))&(df.brainwt>1)&(df.index>20)

In [76]:
df.loc[filterr].max()

brainwt                  521.026
bodywt                   654.977
animal     Yellow-bellied_marmot
wtratio                   26.324
dtype: object

In [ ]:
#BINNING

In [ ]:
#1. Equal width bins -> pd.cut

In [77]:
labels=['X-small','Small','Medium','Large','X-Large']

In [80]:
bins=pd.cut(df.bodywt,5, labels=labels)

In [81]:
bins

0     X-small
1     X-small
2     X-small
3     X-small
4     X-small
       ...
57    X-small
58    X-small
59    X-small
60    X-small
61    X-small
Name: bodywt, Length: 62, dtype: category
Categories (5, object): [X-small < Small < Medium < Large < X-Large]

In [82]:
bins.value_counts()

X-small    59
X-Large     2
Small       1
Large       0
Medium      0
Name: bodywt, dtype: int64

In [ ]:
#2Nd methode equal freqeuncy bins quartly cut- > pd.qcut

In [83]:
bins=pd.qcut(df.bodywt,5,labels=labels)
bins

0      Medium
1      Medium
2       Small
3     X-Large
4       Large
       ...
57      Large
58    X-small
59      Small
60    X-small
61      Large
Name: bodywt, Length: 62, dtype: category
Categories (5, object): [X-small < Small < Medium < Large < X-Large]

In [84]:
bins.value_counts()

X-Large    13
X-small    13
Large      12
Medium     12
Small      12
Name: bodywt, dtype: int64

In [85]:
#3rd methode _ custom wildth cut

In [86]:
cutoff=(0,3,10,50,100,100000)

In [87]:
bins=pd.cut(df.bodywt,cutoff,labels=labels)

In [89]:
bins.value_counts()

Large      23
X-Large    20
X-small     7
Medium      6
Small       6
Name: bodywt, dtype: int64

In [91]:
df.loc[bins=='Large']

    brainwt  bodywt                     animal    wtratio
0     3.385  44.500                 Arctic_fox  13.146233
1     0.480  15.499                 Owl_monkey  32.289583
2     1.350   8.100                     Beaver   6.000000
6    14.831  98.199                   Roe_deer   6.621199
8     4.190  57.998                     Vervet  13.842005
9     0.425   6.400                 Chinchilla  15.058824
12    1.000   6.600  African_giant_pouched_rat   6.600000
15    3.500  10.800      Nine-banded_armadillo   3.085714
16    2.000  12.300                 Tree_hyrax   6.150000
17    1.700   6.300                N._American   3.705882
24    3.300  25.600                        Cat   7.757576
26    1.410  17.500                      Genet  12.411348
30    0.750  12.300                Rock_hyrax1  16.400000
35   34.998  56.003                   Kangaroo   1.600177
36    4.050  17.000      Yellow-bellied_marmot   4.197531
40    1.400  12.500                 Slow_loris   8.928571
42    2.500  12.100                     Rabbit   4.840000
48   59.997  80.996            Giant_armadillo   1.350001
49    3.600  21.000                Rock_hyrax2   5.833333
50    4.288  39.201                    Raccoon   9.142024
56    3.000  25.001                    Echidna   8.333667
59    1.620  11.400                  Phalanger   7.037037
61    4.235  50.400                    Red_fox  11.900826

In [95]:
df.loc[df.bodywt<15,'rodents']=True
df.loc[-(df.bodywt<15),'rodents']=False

In [96]:
df.head()

   brainwt   bodywt      animal    wtratio  rodents
0    3.385   44.500  Arctic_fox  13.146233    False
1    0.480   15.499  Owl_monkey  32.289583    False
2    1.350    8.100      Beaver   6.000000     True
3  464.983  423.012         Cow   0.909736    False
4   36.328  119.498   Gray_wolf   3.289419    False

In [97]:
df['bins']=pd.qcut(df.bodywt,5,labels=labels)

In [98]:
df

    brainwt   bodywt           animal    wtratio  rodents     bins
0     3.385   44.500       Arctic_fox  13.146233    False   Medium
1     0.480   15.499       Owl_monkey  32.289583    False   Medium
2     1.350    8.100           Beaver   6.000000     True    Small
3   464.983  423.012              Cow   0.909736    False  X-Large
4    36.328  119.498        Gray_wolf   3.289419    False    Large
..      ...      ...              ...        ...      ...      ...
57  160.004  169.000  Brazilian_tapir   1.056224    False    Large
58    0.900    2.600           Tenrec   2.888889     True  X-small
59    1.620   11.400        Phalanger   7.037037     True    Small
60    0.104    2.500       Tree_shrew  24.038462     True  X-small
61    4.235   50.400          Red_fox  11.900826    False    Large

[62 rows x 6 columns]

In [99]:
!pip install --upgrade pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/69/69/c35fbbc9bec374c44e9c800e491e914a521dc3926fc6cee80d4821771295/pandas-1.0.3-cp37-cp37m-win_amd64.whl (8.7MB)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\galic156685\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\galic156685\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\galic156685\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\galic156685\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pandas
  Found existing installation: pandas 0.25.1
    Uninstalling pandas-0.25.1:
      Successfully uninstalled pandas-0.25.1

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Accès refusé: 'c:\\users\\galic156685\\appdata\\local\\continuum\\anaconda3\\lib\\site-packages\\~andas\\io\\msgpack\\_packer.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [100]:
pd.__version__

'0.25.1'

In [101]:
#remove the first columns 
pd.get_dummies(df, columns=['bins'], drop_first=True)

,brainwt,bodywt,animal,wtratio,rodents,bins_Small,bins_Medium,bins_Large,bins_X-Large
0,3.385,44.500,Arctic_fox,13.146233,False,0,1,0,0
1,0.480,15.499,Owl_monkey,32.289583,False,0,1,0,0
2,1.350,8.100,Beaver,6.000000,True,1,0,0,0
3,464.983,423.012,Cow,0.909736,False,0,0,0,1
4,36.328,119.498,Gray_wolf,3.289419,False,0,0,1,0
...,...,...,...,...,...,...,...,...,...
57,160.004,169.000,Brazilian_tapir,1.056224,False,0,0,1,0
58,0.900,2.600,Tenrec,2.888889,True,0,0,0,0
59,1.620,11.400,Phalanger,7.037037,True,1,0,0,0
60,0.104,2.500,Tree_shrew,24.038462,True,0,0,0,0
61,4.235,50.400,Red_fox,11.900826,False,0,0,1,0

In [104]:
#remove a or + columns use drop - axis=0 go to row / axis = 1 values in a columns
pd.get_dummies(df, columns=['bins']). drop(['bins_Large'],axis=1)

,brainwt,bodywt,animal,wtratio,rodents,bins_X-small,bins_Small,bins_Medium,bins_X-Large
0,3.385,44.500,Arctic_fox,13.146233,False,0,0,1,0
1,0.480,15.499,Owl_monkey,32.289583,False,0,0,1,0
2,1.350,8.100,Beaver,6.000000,True,0,1,0,0
3,464.983,423.012,Cow,0.909736,False,0,0,0,1
4,36.328,119.498,Gray_wolf,3.289419,False,0,0,0,0
...,...,...,...,...,...,...,...,...,...
57,160.004,169.000,Brazilian_tapir,1.056224,False,0,0,0,0
58,0.900,2.600,Tenrec,2.888889,True,1,0,0,0
59,1.620,11.400,Phalanger,7.037037,True,0,1,0,0
60,0.104,2.500,Tree_shrew,24.038462,True,1,0,0,0
61,4.235,50.400,Red_fox,11.900826,False,0,0,0,0

In [107]:
df.drop(['bins_Small','bins_X-Large'],axis=1)

KeyError: "['bins_Small' 'bins_X-Large'] not found in axis"

In [ ]:
#Cleaning
* Missing value
    * Detect them by counting them
    * Null them
    * Interpolate
    * Drop them
* Inconsistant Data - (logical errors)
* Outliers
    * Detct using IQR (Inter-quartile range), Z-score (Normal distrib)
    * Drop them
    * Fix them
    * Trancate them (winsorizing)
    * leave them as they are 
*Text error
    * Special Characters 
    * Numbers as text
    * Empty character
    * Different notation Ave. // Avenue 
    * Mixed case (upper and lower; punctuation mark)
    * Special Solution _ NLP (Natural Language Processing)
* Duplicates
* Low Variance

In [108]:
#Missing Values

In [109]:
import os

In [110]:
conda update pandas

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working...

Updating pandas is constricted by

anaconda -> requires pandas==0.25.1=py37ha925a31_0

If you are sure you want an update of your package either try `conda update --all` or install a specific version of the package you want using `conda install <pkg>=<version>`

done

## Package Plan ##

  environment location: C:\Users\galic156685\AppData\Local\Continuum\anaconda3

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    backports.functools_lru_cache-1.6.1|             py_0          11 KB
    conda-4.8.3                |           py37_0         2.8 MB
    future-0.18.2              |           py37_0         656 KB
    ------------------------------------------------------------
                                           Total:         3.5 MB

The following packages will be UPDATED:

  backports.functoo~                               1.5-py_2 --> 1.6.1-py_0
  conda                                       4.7.12-py37_0 --> 4.8.3-py37_0
  future                                      0.17.1-py37_0 --> 0.18.2-py37_0



Downloading and Extracting Packages

future-0.18.2        | 656 KB    |            |   0%
future-0.18.2        | 656 KB    | 2          |   2%
future-0.18.2        | 656 KB    | ##1        |  22%
future-0.18.2        | 656 KB    | ####1      |  41%
future-0.18.2        | 656 KB    | ######3    |  63%
future-0.18.2        | 656 KB    | ########5  |  85%
future-0.18.2        | 656 KB    | ########## | 100%

conda-4.8.3          | 2.8 MB    |            |   0%
conda-4.8.3          | 2.8 MB    | 2          |   2%
conda-4.8.3          | 2.8 MB    | 7          |   7%
conda-4.8.3          | 2.8 MB    | #2         |  12%
conda-4.8.3          | 2.8 MB    | #7         |  17%
conda-4.8.3          | 2.8 MB    | ##1        |  22%
conda-4.8.3          | 2.8 MB    | ##6        |  27%
conda-4.8.3          | 2.8 MB    | ###1       |  32%
conda-4.8.3          | 2.8 MB    | ###6       |  37%
conda-4.8.3          | 2.8 MB    | ####1      |  42%
conda-4.8.3          | 2.8 MB    | ####6      |  47%
conda-4.8.3          | 2.8 MB    | #####1     |  52%
conda-4.8.3          | 2.8 MB    | #####6     |  57%
conda-4.8.3          | 2.8 MB    | ######1    |  62%
conda-4.8.3          | 2.8 MB    | ######6    |  67%
conda-4.8.3          | 2.8 MB    | #######1   |  71%
conda-4.8.3          | 2.8 MB    | #######6   |  76%
conda-4.8.3          | 2.8 MB    | ########1  |  81%
conda-4.8.3          | 2.8 MB    | ########6  |  86%
conda-4.8.3          | 2.8 MB    | #########1 |  91%
conda-4.8.3          | 2.8 MB    | #########6 |  96%
conda-4.8.3          | 2.8 MB    | ########## | 100%

backports.functools_ | 11 KB     |            |   0%
backports.functools_ | 11 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.